{% extends 'base.html' %}

{% block inside_wall %}
    <h3 class="wall-title clearfix">사진이름：{{ image.title }}
        {% if image.user == current_user %}
            [<a href="{{ url_for('.edit_image', iid=image.iid) }}">편집자</a>]
        {% endif %}
    </h3>
    <img class="main-img" src="{{ url_for('.display_image', iid=image.iid) }}" alt="{{ image.title }}"/>
    <h3 class="wall-title clearfix">사진이름
        {% if image.user == current_user %}
            [<a href="{{ url_for('.edit_image', iid=image.iid) }}">편집자</a>]
        {% endif %}
    </h3>
    <div class="img-description">
        {{ image.description }}
        {% if image.gallery %}
            <p>
                앨범: {% for gallery in image.gallery %}
                <a href="{{ url_for('.gallery_view', gid=gallery.id) }}">
                    {{ gallery.title }}
                </a>
            {% endfor %}
            </p>
        {% endif %}
        {% if image.user.is_active() %}
            <p> 올린이：<a href="{{ url_for('.user_picture', username=image.user.username) }}">{{ image.user }}</a></p>
        {% else %}
            <br/><a class="claim" href="{{ url_for('.claim_image', iid=image.iid) }}"> 익명의 사용자가 올림</a>
        {% endif %}
    </div>
    <h3 class="wall-title clearfix">이미지 태그</h3>
    <div class="img-description">
        {% for tag in image.tags %}
            <a href="{{ url_for('.tag_view', tag=tag) }}">{{ tag }}</a>
        {% endfor %}
    </div>
    <h3 class="wall-title clearfix">링크주소</h3>
    <div>
        <p>사이트링크：</p>
        <p class="link-address">{{ request.base_url }}</p>
        <p>사진 주소：</p>
        <p class="link-address">{{ request.url_root[:-1] }}{{ url_for('.display_image', iid=image.iid) }}</p>
        <p>HTML 인용：</p>
        <p class="link-address">
            <textarea>&lt;img  src=&quot;{{ request.url_root[:-1] }}{{ url_for('.display_image', iid=image.iid) }}&quot;&gt;</textarea>
        </p>
    </div>
    <!-- <h3 class="wall-title clearfix">댓글</h3> -->

    <!-- <div class="ds-thread" data-thread-key="{{ image.iid }}" data-title="{{ image.title }}"></div> -->

{% endblock %}

{% block footer_ext %}

    <script type="text/javascript">
        var duoshuoQuery = {short_name:"{{ SETTINGS.duoshuo_short_name }}"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
            || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>

{% endblock %}
